@font-face {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 400;
  src: url('./fonts/Roboto-Regular.ttf') format('truetype');
}

body {
  font-family: 'Roboto', sans-serif;
}

header {
  /* position: sticky; */
  padding: 1rem 0;
  background-color: #222;
}

.posts-container {
  margin: 1rem 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.post {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 1rem 3rem;
  margin-bottom: 1rem;
  background-color: #444;
  color: #fff;
  border-radius: 0.5rem;
}

.post-details {
  display: flex;
  flex-direction: column;
  flex: 1;
}
.post-tile {
  font-size: 1.3rem;
  font-weight: 500;
}
.post-body {
  font-size: 1rem;
  word-wrap: break-word;
}
